<!-- La finalidad del header es reitulizar este codigo en otros archivos como el home.html y create-images.html -->

<ion-header>


  <ion-toolbar>
<!--   
    Mediante aqui colocamos un boton que me permite regresar -->

    <ion-buttons slot="start">
      <ion-back-button *ngIf="backButton" [defaultHref]="backButton"> </ion-back-button>
  
      <ion-button (click)="dismissModal()" *ngIf="isModal">
        <ion-icon class="modal.icon" name="close-circle-outline"></ion-icon>
      </ion-button>
    </ion-buttons>
  
  
    



    <ion-title>
      <div class="app-name">Painter AI By: Eber Alarcon </div>
      <strong>{{title}} <ion-icon name="color-wand-outline"></ion-icon></strong>
    </ion-title>
  </ion-toolbar>
</ion-header>